.animeImage {
    max-width: 300px;
    max-height: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.animeImage:hover {
    transform: scale(1.05);
}

.descBlock {
    display: flex;
    padding-top: -2rem;
    justify-content: center;
}

.title {
    font-size: 5rem;
    color: #ffffff;
    font-weight: 800;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 70vw;
    padding-left: 20px;
}

.synopsis {
    font-size: 1.6rem;
    color: #666;
    margin-top: 0;
    text-align: justify;
    line-height: 1.6;
}

.topBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5rem 40px;
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #a30505;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    min-height: 100vh;
}

.year {
    margin-left: 4px;
    font-weight: bold;
    color: #b41818;
}

.synopsisTitle {
    border-left: 0.5rem solid #a30505;
    padding-left: 0.5rem;
    font-size: 1.6rem;
}

.genres {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.genre-badge {
    background-color: #b41818;
    color: white;
    border-radius: 20px;
    padding: 8px 14px;
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.player {
    margin: auto;
    width: 55vw;
    height: 35vw;
}

.trailerSection {
    display: flex;
    margin-top: 15px;
    padding: 1rem;
    background-color: #000;
}

.streamingLogo {
    height: 7vw;
    max-height: 10vw;
}

.streamingLogos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}

.streamingTitle {
    border-left: 0.5rem solid #a30505;
    padding-left: 0.5rem;
    font-size: 1.6rem;
    margin-top: -5px;
}
